.delimiter{
    display: flex;
    flex-direction: row;
    height: to-rem(100);
    align-items: center;
    &__line{
        width: 100%;
        height: 1px;
        background-color: $color-font-secondary;
    }
    
}