.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        color: dodgerblue;
        @include adaptive-value('font-size',512, 32);
    }
    &__text{
        color: black;
        &:hover{
            color: #5472d4;
        }
    }
}