@font-face {
  font-family: 'icons';
  src:  url('icons/fonts/icons.eot?f6pcr0');
  src:  url('icons/fonts/icons.eot?f6pcr0#iefix') format('embedded-opentype'),
    url('icons/fonts/icons.ttf?f6pcr0') format('truetype'),
    url('icons/fonts/icons.woff?f6pcr0') format('woff'),
    url('icons/fonts/icons.svg?f6pcr0#icons') format('svg');
}

%icon {
  speak: never;
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"] {
  &:before,
  &:after {
      @extend %icon;
      display: inline-block;
  }
}

._icon-line:before {
  content: "\e900";
}
._icon-x-mark:before {
  content: "\e901";
}
._icon-loading:before {
  content: "\e97b";
}
._icon-search:before {
  content: "\e986";
}
._icon-options:before {
  content: "\e992";
}
._icon-arrow-left:before {
  content: "\ea40";
}
._icon-circle-up:before {
  content: "\ea41";
}
._icon-circle-down:before {
  content: "\ea43";
}
._icon-sort:before {
  content: "\ea4d";
}
._icon-filter:before {
  content: "\ea5b";
}
