@import "primevue/resources/themes/viva-light/theme.css";
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';

@import 'reset.scss';
@import 'variables.scss';
@import "mixins.scss";
@import 'main.scss';

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1728px;
  margin: 0 auto;
}

._disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

@import 'users.scss';