.p-datatable .p-datatable-tbody > tr > td {
    line-height: 150%;
}

.p-inputtext{
    padding: to-rem(8) 0;
    @include adaptive-value('padding-right', 12, 0);
    @include adaptive-value('padding-left', 12, 0);
    @include adaptive-value('font-size', 16, 10);

    &.p-component{
        width: 100%;
    }
}

.p-column-filter-row .p-column-filter-element{
    width: 100% !important;
}
