
$color-primary: #1a82ff;
$color-secondary: #333;
$color-font: white;
$color-font-secondary: gray;
$color-bg: white;

$min-width: 320;
$max-width: 1920;
$max-width-container: 1728;
$container-padding: 36;

$container-width: $max-width-container + $container-padding;

$pc: to-em($container-width);
$tablet: to-em(1091.98);
$mobile: to-em(767.98);
$mobile-small: to-em(479.98);
$mobile-x-small: to-em(339.98);
$mobile-xs-small: to-em(281.98);